<div class='form-group label-floating is-empty'>
  <label class='control-label' for='login-email'>Email</label>
  {{input value=model.identification
    class='form-control'
    type='email'
    id='login-email'}}
  <p class="help-block errors">
    {{#each model.errors.identification as |error|}}
      <span>{{error}}<br></span>
    {{/each}}
  </p>
</div>
<div class='form-group label-floating is-empty'>
  <label class='control-label' for='login-password'>Password</label>
  {{input value=model.password
    class='form-control'
    type='password'
    id='login-password'}}
  <p class="help-block errors">
    {{#each model.errors.password as |error|}}
      <span>{{error}}<br></span>
    {{/each}}
  </p>
</div>
<p class="errors">
  {{#each errors as |err|}}
    <span>{{err.title}}</span>
  {{/each}}
</p>
<div class="form-actions">
  {{#if onRemember}}
    <input id="remember-me" type="checkbox" name="remember_me" value=rememberMe checked>
    <span>{{rememberMeLabel}}</span>
  {{/if}}
  <input {{action 'submit'}} disabled={{model.isntValid}} type="submit" class="btn btn-primary btn-raised btn-block" value={{btnLabel}}>
</div>
