<div class={{formGroupClass}}>
  <label class={{inputLabelClass}} for='login-email'>Email</label>
  {{one-way-input changeset.identification
    class=inputClass
    pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
    type='email'
    id='login-email'
    update=(action (mut changeset.identification))}}
  {{#if changeset.error.identification}}
    <span class="{{inputHelperClass}} helper-identification">
      {{changeset.error.identification.validation}}
    </span>
  {{/if}}
</div>
<div class={{formGroupClass}}>
  <label class={{inputLabelClass}} for='login-password'>Password</label>

  {{one-way-input changeset.password
    class=inputClass
    type='password'
    id='login-password'
    update=(action (mut changeset.password))}}

  {{#if changeset.error.password}}
    <span class="{{inputHelperClass}} helper-password">
      {{changeset.error.password.validation}}
    </span>
  {{/if}}
</div>
<p class="errors">
  {{#each errors as |err|}}
    <span>{{err.title}}</span>
  {{/each}}
  {{#if error_message}}
    <span>{{error_message}}</span>
  {{/if}}
</p>
<div class="form-actions">
  <input {{action 'submit'}} data-test-target="btn-login" disabled={{disable}} type="submit"
    class={{submitButtonClass}} value={{btnLabel}}>
</div>
