<div class={{formGroupClass}}>
  <label class={{inputLabelClass}} for='login-email'>Email</label>
  {{input value=model.identification
    class=(concat inputClass (if model.identification '' ' is-empty'))
    pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
    type='email'
    id='login-email'}}
  <span class="{{inputHelperClass}} errors {{if model.identification '' ' input-is-empty'}}">
    {{errors.model.identification.firstObject}}
  </span>
</div>
<div class={{formGroupClass}}>
  <label class={{inputLabelClass}} for='login-password'>Password</label>
  {{input value=model.password
    class=(concat inputClass (if model.password '' ' is-empty'))
    pattern=passwordPattern
    type='password'
    id='login-password'}}
  <span class="{{inputHelperClass}} errors {{if model.password '' ' input-is-empty'}}">
    {{errors.model.password.firstObject}}
  </span>
</div>
<p class="errors">
  {{#each errors as |err|}}
    <span>{{err.title}}</span>
  {{/each}}
  {{#if error_message}}
    <span>{{error_message}}</span>
  {{/if}}
</p>
<div class="form-actions">
  {{#if onRemember}}
    <input id="remember-me" type="checkbox" name="remember_me" class={{inputRememberClass}} value=rememberMe checked>
    <span>{{rememberMeLabel}}</span>
  {{/if}}
  <input {{action 'submit'}} data-test-target="btn-login" disabled={{isntValid}} type="submit"
    class={{submitButtonClass}} value={{btnLabel}}>
</div>
